<div class="school grid-item"

  <a href="<%= school.url %>" target="_blank">
    <% if (i == 0) %>
      <div class="card card-inverse gram">
    <% else %>
      <div class="card card-inverse gram" id="education-header">
    <% end %>
      <img class="card-img" src="/seals/<%= school.screenshot %>" />
      <div class="card-img-overlay">
        <h5 class="card-title">
          <%= school.name %>
        </h5>
        <h6 class="card-subtitle">
          <%= school.degree %>

        </h6>
        <p class="card-text">
          <%= "#{school.start_date.strftime("%B %Y")} to #{school.end_date.strftime("%B %Y")}" %>
        </p>
        <p class="card-text">
          <%= school.summary %>
          <i>
            Subjects:
          </i>
          <%= school.subject_list %><br />
          <i>
            Honors:
          </i>
          <%= school.honor_list %><br />
        </p>
      </div>
    </div>
  </a>
</div>
