<div class="school">
  <div class="row">
    <div class="col-sm-4">
      <img src="/seals/<%= school.screenshot %>.png" class="screenshot" />
    </div>
    <div class="col-sm-8">
      <h4 class="school-header">
        <a href="<%= school.url %>" target="_blank" title="<%= school.name %> school homepage">
          <%= school.name %>
          <i class="fas fa-external-link-alt" aria-hidden="true"></i>
        </a>
      </h4>
      <h6>
        <%= "#{school.start_date.strftime("%B %Y")} to #{school.end_date.strftime("%B %Y")}" %>
      </h6>
      <p>
        <%= school.summary %>
      </p>
      <p>
        <strong>
          Subjects:
        </strong>
        <%= school.subject_list %><br />
        <strong>
          Honors:
        </strong>
        <%= school.honor_list %><br />
        <strong>
          Degree:
        </strong>
        <%= school.degree %>
      </p>
    </div>
  </div>
</div>
