<!DOCTYPE html>
  <head>
    <title>Kamille Delgardo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

    <link rel="shortcut icon" href="/icon.png" />
    <meta name="theme-color" content="#8E2A67" />
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <%= yield %>
  </body>
</>
