<!DOCTYPE html>
<html>
  <head>
    <title>Kamille Delgardo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

    <link rel="shortcut icon" href="/k_callig.png" />
    <meta name="theme-color" content="#8E2A67" />
  </head>

    <% if !current_page?(controller: "homes", action: "show") %>
      <body id="main">
        <%= render 'layouts/navbar' %>
          <div id="doings">
            <%= render 'projects/index', projects: @projects %>
            <%= render 'schools/index', schools: @schools %>
          </div>
      <% else %>
      <body id="root">
        <%= yield %>

    <% end %>

    <%= render 'layouts/links' %>
  </body>
<script type="text/javascript">
  $(document).ready(function() {
    $("#mainNav ul li a[href^='#']").on('click', function(e) {
     e.preventDefault()

     var href = $(this).attr("href");
     var hash = href.substr(href.indexOf("#"));
     $("a").removeClass("active");
     $(this).addClass("active");
     var target = href + "-header",
     t = $(target).offset().top - 60;

     $('html, body').animate({
       scrollTop: t
     }, 250, function() {
       window.location.hash = hash;
     })
    })

    $(window).scroll(function() {
      var scrollPos = $(window).scrollTop();

      var portfolioTrigger = $("#portfolio").offset().top;
      var educationTrigger = $("#education").offset().top;
      var portfolioHeader = $("a[href='#portfolio']");
      var educationHeader = $("a[href='#education']");

      if (scrollPos >= portfolioTrigger && scrollPos < educationTrigger) {
        portfolioHeader.addClass("active");
        educationHeader.removeClass("active");
      } else {
        portfolioHeader.removeClass("active");
      }

      if (scrollPos >= educationTrigger) {
        educationHeader.addClass("active");
        portfolioHeader.removeClass("active");
      } else {
        educationHeader.removeClass("active");
      }
      });
      console.log("portfolioTrigger ", portfolioTrigger);
      console.log("educationTrigger", educationTrigger);
    })
</script>
</html>
