<!DOCTYPE html>
  <head>
    <title>Kamille Delgardo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

    <link rel="shortcut icon" href="/k_callig.png" />
    <meta name="theme-color" content="#8E2A67" />
  </head>

    <% if !current_page?(controller: "homes", action: "show") %>
      <body id="main">
        <%= render 'layouts/navbar' %>
    <% else %>
      <body id="root">
    <% end %>
    <%= yield %>
  </body>
</>
